*{
  margin: 0;
  padding: 0;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}
.header {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.footer {
  background-color: gainsboro;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.footer-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 10px 0px;
}
.footer-right div{
  margin-right: 5px;
}
.footer-left {
  margin: 0px 0px 0px 10px;
  width: 690px;
  font-size: 16px;
}
.date {
  margin-bottom: 10px;
  font-family: "Sigmar", cursive;
}
.inform {
  font-family: "Sigmar", cursive;
}
.html,
.css,
.js {
  margin: 0px 10px;
  width: 350px;
}
.image img{
  width: 100%;
  height: 200px;
}
.h1 {
  margin-bottom: -10px;
  color: indigo;
  font-size: 30px;
  font-family: "Sigmar", cursive;
}
.article {
  margin-bottom: 10px;
  font-size: 15px;
  height: 40px;
  font-family: "Sigmar", cursive;
  padding-inline: 5px;
}
.clickable {
  background-color: pink;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Sigmar", cursive;
}
@media (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .html,
  .css,
  .js {
    margin: 10px 0px;
    width: 47vw;
    min-width: 280px;
  }
  .article{
    font-size: 11px;
  }
  .footer-left {
    width: 690px;
    font-size: 11px;
  }
  .footer-right {
    margin: 5px 10px;
  }
}
